<div class="header">
    <ul class="menu">
        <li>
            <img class="logo" src="https://previews.123rf.com/images/katedemianov/katedemianov1709/katedemianov170900084/85779350-jugador-para-discos-de-vinilo-m%C3%BAsica-retro-logotipo-icono-ilustraci%C3%B3n-vectorial.jpg"
            class="header" width="50" height="50">
        </li>
        <li>Discos "El Brayan"</li>
        <li style="color:yellow">Exitos</li>
        <li>Mas vendidos</li>
        <li>Hits pasados</li>
    </ul>
</div>        